In [1]:
import pandas as pd
from fxpmath import Fxp

In [2]:
def convert(x):
    y = Fxp(x, signed=True, dtype='S4.12')

    return int(y.bin(frac_dot=False), 2)

In [3]:
df = pd.read_csv('ParisHousing.csv')
df.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [4]:
df.dropna
df.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07

In [5]:
df.insert(0, 'price', df.pop('price'))
df.head()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom
0,7559081.5,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7
1,8085989.5,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2
2,5574642.1,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9
3,3232561.2,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3
4,7055052.0,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4

In [8]:
df = df.drop(['hasGuestRoom', 'hasStorageRoom'], axis=1)
df.describe()

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
count,1.000000e+04,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000
mean,4.993448e+06,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120
std,2.877424e+06,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017
min,1.031350e+04,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000
25%,2.516402e+06,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000
50%,5.016180e+06,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000
75%,7.469092e+06,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000
max,1.000677e+07,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000

In [9]:
len(df.columns)

15

In [10]:
df=(df-df.min())/(df.max()-df.min())
df

,price,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage
0,0.755144,0.755020,0.020202,0.0,1.0,0.626263,0.093747,0.222222,0.777778,0.483871,0.0,1.0,0.4313,0.900490,0.951111
1,0.807854,0.807547,0.383838,1.0,1.0,0.979798,0.393977,0.777778,0.555556,0.806452,1.0,0.0,0.3653,0.243524,0.031111
2,0.556630,0.556731,0.575758,0.0,1.0,0.181818,0.344712,0.555556,0.777778,1.000000,0.0,0.0,0.2937,0.885189,0.038889
3,0.322339,0.322560,0.464646,0.0,0.0,0.050505,0.279500,1.000000,0.333333,0.709677,0.0,1.0,0.0659,0.714071,0.287778
4,0.704723,0.704034,0.181818,1.0,1.0,0.898990,0.380610,0.222222,0.666667,0.000000,1.0,0.0,0.8435,0.242824,0.213333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.016617,0.016385,0.888889,0.0,1.0,0.040404,0.731666,0.666667,0.555556,0.612903,0.0,1.0,0.9311,0.169717,0.131111
9996,0.443973,0.443539,0.282828,1.0,1.0,0.111111,0.346203,0.888889,0.333333,0.000000,0.0,1.0,0.9061,0.174117,0.144444
9997,0.838269,0.838274,0.020202,0.0,0.0,0.686869,0.809705,1.000000,1.000000,0.483871,1.0,1.0,0.8304,0.772977,0.272222
9998,0.589688,0.590001,0.696970,0.0,0.0,0.959596,0.558809,0.000000,0.222222,0.645161,0.0,1.0,0.2590,0.617362,0.265556
9999,0.013644,0.013522,0.838384,0.0,0.0,0.484848,0.184182,0.555556,1.000000,0.129032,1.0,0.0,0.8485,0.202320,0.197778

In [11]:
lines = []
for index, row in df.iterrows():
    x = []
    for j in row:
        x.append(str(hex(convert(j)))[2:])
    lines.append(' '.join(x))

In [8]:
lines = lines[:100]
# print(lines)
with open('..\\sim_1\\new\\mem3.mem', 'w') as f:
    f.write('\n'.join(lines))

In [9]:
3f 65 0 11 1b 24 19 91 9b 23 27 66 
48 85 0 1d 24 56 37 7e 5c 35 37 66 
48 70 a 18 22 32 2b 82 68 31 37 66 
95 1c 8f 11 1a 39 30 95 54 26 37 99 
3f 65 0 11 1b 24 19 91 9b 23 27 66 
3f 5e 0 f 1a 2b 1e 91 9b 23 27 66 
4a 54 f c 18 32 2f 76 70 13 27 66 
3d 5c 0 5 16 32 d 55 83 15 3f cc 
48 50 5 13 1a 1c a 7e 7c 24 2b cc 
41 42 5c 5b 19 39 56 91 7a 48 52

SyntaxError: invalid syntax (410971837.py, line 1)